body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #A9A9A9;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
}
p {
    font-size: 1.5em;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    line-height: 1.4em;
    color: black;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

.page-title {
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    color: black;
}

.main-blurb {
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    font-color: #ffffff;
    text-align: center;
    position: relative;
    padding: 4px 4px 4px 4px;
}

.main-blurb a {
    color: #ffffff;
}

.main-blurb p{
    color: #ffffff;
}

.blurb {
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    color: black;
}

.blurb p{
    color: black;
    
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    flex-direction: row;
    flex-flow: wrap;
}

.gallery-item {
    margin: 20px;
}

* {
    box-sizing: border-box;
}
/*took out double body*/

.header {
    text-align: center;
    padding: 32px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
    flex: 25%;
    max-width: 50%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of four columns */
/*@media (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}*/

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}

.photo {
    width: 1000px;
    height: 667px;
}

.profile-container {
    /*display: inline-block;
    vertical-align: top;
    position: relative;*/
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    /*align-content: space-between;*/
}

.vert-photo {
    width: 250px;
    height: 333px;
    /*margin: 10px 10px 10px 10px;*/
}

/*.flex-container {
    display: flex;
    flex-direction: row;
}*/

.profile-container p {
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    color: black;   
    text-align: left;
    font-size: 1.5em;
}

.blog-photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.blog-item {
    margin: 20px;
}

/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-size: 3em;
}

/* Bottom left text */
.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

/* Top left text */
.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}

/* Top right text */
.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}

/* Bottom right text */
.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
}

/*dropdown menu on nav bar for sports photo*/
/*.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    
.navbar a {
    float: left;
    font-size: 20px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}*/

.dropdown {
    /*float: left; */
    overflow: hidden;
    display: inline; /*new*/
}

.dropdown .dropbtn {
    font-size: inherit;  
    border: none;
    outline: none;
    color: #A9A9A9;
    padding: 14px 0px; /*16px;*/
    background-color: inherit;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    font-weight: bold; /*new*/
    margin: 0;
}

/*.navbar a:hover,*/ .dropdown:hover .dropbtn {
    /*background-color: red;*/
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: #A9A9A9;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
    display: inherit;
}
