<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
	<!--	<nav>
    		<ul>
			<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
        		<li><a href="/photography">Outdoor Photography</a></li>
			<li><div class="dropdown">
				<button class="dropbtn">Sports Photography
					<!--<i class="fa fa-caret-down">-->
	<!--			</button>
				<div class="dropdown-content">
					<a href="/sportsphoto">Personal Shots</a>
					<a href="/ISI">Stanford Athletics Media</a>
					<a href="/links">In Publication</a>
				</div>
				</div>
			</li>
				<!--<a href="/sportsphoto">Sports Photography</a>-->
        <!--		<li><a href="/science">Science</a></li>
			<li><a href="/projects">Projects</a></li>
			<!--<li><a href="/links">Links</a></li>-->
    	<!--	</ul> 
		</nav> -->
		
<!-- trying responsive topnav w/dropdown-->
		<div class="topnav" id="myTopnav">
  			<a href="/" class="active">Home</a>
  			<a href="/about">About</a>
  			<div class="dropdown">
    				<button class="dropbtn">Photography 
      					<i class="fa fa-caret-down"></i>
    				</button>
    				<div class="dropdown-content">
      					<a href="/sportsphoto">Sports Photography</a>
      					<a href="/photography">Outdoor Photography</a>
      					<a href="/ISI">For Stanford Athletics</a>
					<a href="/links">Published</a>
    				</div>
  			</div> 
  			<a href="/science">Science</a>
			<a href="/projects">Projects</a>
			</div>
<!--end here-->		
		<div class="container">
    
    		{{ content }}
		
   		 </div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:erin.y.chang@gmail.com">email</a></li>
        		<li><a href="https://github.com/echang17">github.com/echang17</a></li>
			</ul>
		</footer>
	</body>
</html>
