<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> <!--for responsive nav bar-->
		<!--add for dimensions?!-->
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
<!--  responsive top nav bar-->
		<div class="topnav" id="myTopnav">
  			<a href="/" class="active">Home</a>
  			<a href="/about">About</a>
			<a href="/sportsphoto">Photography</a>
  			<a href="/science">Science</a>
			<a href="/projects">Engineering</a>
			<a href="/contact/">Contact</a>
			<a href="javascript:void(0);" class="icon" onclick="myFunction()">
    				<i class="fa fa-bars"></i>
			</a>
		</div>
		
<!--java function for responsive nav bar-->
<script>
function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}		
</script>		
<!--nav bar end here-->	
		<!-- individual page content goes here-->
		<div class="container">
    
    		{{ content }}
		
   		 </div>
    <!--footer with copyright info-->
		<footer>
      <p>Copyright © 2020 Erin Chang. All rights reserved.</p>
		</footer>
	</body>
</html>
